body { padding-top: 70px !important; }

.navbar-brand {
  color: #222;
}
.dogtalk-icon {
  display: inline-block;
  background: url('/images/dogtalk-icon.svg') center left no-repeat;
  width: 30px;
  height: 22px;
  background-size: 30px 22px;
  float: left;
  margin-top: -4px;
}
#remotestorage-widget {
  position: fixed !important;
  top: 3px !important;
}
.filter-box {
  padding-left:0;
  padding-right: 0;
  padding-top: 0;
}
.from-me {
  background-color: #aaeeee;
}
.chat-title {
  display: block;
  border-bottom: 2px solid #dedede;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.chat-title h2 {
  padding: 0px !important;
}