html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
html {
  overflow-y: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 75px !important;
}
.navbar {
  z-index: 5000;
}
.navbar-brand {
  color: #222;
}
.dogtalk-icon {
  display: inline-block;
  background: url('/images/dogtalk-icon-white.svg') center left no-repeat;
  width: 30px;
  height: 22px;
  background-size: 30px 22px;
  float: left;
  margin-top: -4px;
}
#remotestorage-widget {
  position: fixed !important;
  top: 3px !important;
}
.message-container {
  padding: 0 !important;
  display: block;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  z-index: 100;
  div {
    z-index: 100 !important;
    padding: 0 !important;
  }
}


.container {
  padding: 0px !important;
  margin: 0 2% 0 2%;
}

.contact-sidebar {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  overflow-y: auto;
  background-color: #333333;
  z-index: 1000;
}
.opposite-sidebar {
  position: absolute;
  top: 75px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: white;
  z-index: 2000;
}

.top-contact-list {
  margin-top: 30px;
}
.search-bar {
  width: 85%;
  margin-left: 7%;
}
.filter-box {
  padding-left:0;
  padding-right: 0;
  padding-top: 0;
}
.from-me {
  background-color: #ccffff;
  margin-top: 3px;
}
.chat-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  overflow-y: auto;
  padding: 0 !important;
}
.chat-title {
  display: block;
  border-bottom: 2px solid #dedede;
  padding: 0 !important;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.chat-title h3 {
  padding: 0 0 0 25px !important;
  margin: 0 !important;
}
.message-entry blockquote {
  padding: 5px 0 4px 10px;
  margin: 0 0 0 0;
}
.message-entry blockquote p {
  line-height: 1;
  font-size: 15px;
}
.message-entry small {
  margin-top: -10px;
  padding-bottom: 3px;
}

.chat-input {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  background-color: #ffffff;
  min-width: 260px;
  text-align: center;
  z-index: 5000;
  padding: 5px 3px 1px 20px;
}
.chat-input-message {
  width: 77%;
  float: left;
}
.chat-submit-message {
  display: block;
  margin-right: 5%;
}

footer {
  padding: 30px 0;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .search-bar {
    width: 80%;
    margin-left: 7%;
    left: -50%; /* 6 columns */
  }

  .opposite-sidebar {
    left: 0;
  }
  .opposite-sidebar.active {
    left: 60%;
  }

  .chat-title h3 {
    padding: 25px;
  }
  .chat-input {
    padding: 0 0 0 0 !important;
    min-width: 300px;
  }
  .chat-submit-message {
    float: right;
    margin-right: 0;
  }
  .chat-input-message {
    margin: 0 auto 0 3%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 75px;
    width: 50%;
  }

}

