<section class="page">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-lg">Add contact</button>
        </div>
      </div>
      <div ng-repeat="c in contacts | orderBy: fn">
        <div class="row"><div class="col-md-12">&nbsp; <br /></div></div>
        <div class="row">
          <div class="col-md-12">
            <a href="#/contacts/view/{{c.id}}" class="btn btn-default btn-lg">{{ c.fn }} - {{ c.nickname }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>