<section class="page">
  <div ng-controller="AccountListCtrl">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-lg">Add contact</button>
        </div>
      </div>

        <div class="row">
        <div class="col-md-12">
          <p>Dude Man</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Burt Simmons</p>
        </div>
      </div>
    </div>
  </div>
</section>