<div class="col-12 col-sm-12 col-lg-8">

  <div class="row">
    <div class="col-6 col-sm-6 col-lg-4" style="float: left;">
      <h2>{{contact.fn}}</h2>
    </div>
    <div class="col-6 col-sm-6 col-lg-4" style="float: right;">
      <a href="#/contacts/edit/{{contact.id}}" class="btn btn-default bt-lg">Edit</a>
    </div>
  </div>

  <div ng-repeat="e in contact.email" class="row">
    <div class="col-6 col-sm-6 col-lg-4">Email ({{e.type}}): </div>
    <div class="col-6 col-sm-6 col-lg-4">{{ e.value }}</div>
  </div>

  <div ng-repeat="i in contact.impp" class="row">
    <div class="col-6 col-sm-6 col-lg-4">IM ({{i.type}}): </div>
    <div class="col-6 col-sm-6 col-lg-4">{{ i.value }}</div>
  </div>
</div>
