  <div class="row row-offcanvas row-offcanvas-left">

    <div top-contact-list contacts="contacts" data="data"></div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 opposite-sidebar">

      <div class="chat-box">
        <div class="chat-title">
          <h3>{{ contact.fn }}</h3>
        </div>

        <div ng-repeat="m in messages" class="message-entry">
          <blockquote ng-class="{'from-me': isMe(m.actor.address)}">
            <p>{{m.text}}</p>
            <small ng-class="{'pull-right': !isMe(m.actor.address)}">{{m.actor.address}}</small>
          </blockquote>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="chat-input col-sm-9 col-xs-12">
      <form role="form">
        <div class="chat-input-message">
          <label class="sr-only" for="chatInput">Message</label>
          <input name="chatInput" class="form-control" type="text" placeholder="Enter message" focus/>
        </div>
        <div class="chat-submit-message">
          <button type="submit" class="btn btn-default">Send</button>
        </div>
      </form>
    </div>
  </div>

  </div><!--/row-->
