<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 sidebar-offcanvas contact-sidebar" id="sidebar" role="navigation">
  <div class="search-bar">
    <form role="form" class="list-group form-horizontal">
      <div class="form-group">
        <input type="text" id="contactSearch" ng-model="data.searchText" class="form-control" placeholder="Search" />
      </div>
    </form>
  </div>
  <div class="list-group top-contact-list">
    <a ng-repeat="(id, c) in contacts | filterObject:'fn':data.searchText"
       ng-class="{active: c.id == data.selected}"
       href="#/c/{{ c.id }}" class="list-group-item">
      <span class="badge pull-right">42</span>
      {{ c.fn }}
    </a>
  </div>
</div>
